/* App.module.css */
.main {
  position: relative;
  width: 1260px;
  min-height: 100%;
  margin: 0 auto;
}

.header {
  text-align: center;
}

.lost_wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.lost_charater {
  display: flex;
  flex: 1 1 30%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}


.characterCard {
  width: 360px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  margin: 10px;
}

.characterCard .characterImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;

}

.classinfo {
  text-align: center;
}