/* 메인 */
.noticemain {
    position: relative;
    width: 390px;
    min-height: 100%;
    margin: 0 auto;
    background-color: #fff;
}

/* 공지사항 */

.header {
    padding: 50px 0 25px;
    border-bottom: 3px solid #000;
    font-size: 10px;
}

/* 탭바  */
.tabs {
    border-top: 0;
    display: flex;
}

.tabs .tabsbtn {
    flex: 1 1 0;
    display: block;
    width: 100%;
    position: relative;
    height: 60px;
    margin-top: -8px;
    border-top: 0;
    font-size: 15px;
    background-color: #f9f9f9;
    color: #888;
    border: 0;
    border-bottom: 1px solid #ddd;

    &.active {
        background-color: #fff;
        border-bottom: 0;
        color: #222;
    }
}

/* ------ 여기까지 ----- */

/* 메인아이템들 */
.table {
    margin-top: 35px;
}

.table .noticelist {
    list-style: none;
}

.table .noticelist .noticeitem {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

.table .noticelist .noticeitem>a {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    color: #000;
    text-decoration: none;
}

.table .noticelist .noticeitem .type {
    width: 80px;
}


.table .noticelist .noticeitem .date {
    text-align: center;
}

.table .noticelist .noticeitem .type>span {
    display: block;
    width: 64px;
    height: 25px;
    background-color: #fff;
    border-radius: 18px;
    border: 1px solid #ddd;
    line-height: 25px;
    font-size: 10px;
    text-align: center;
    color: #222;
}

.table .noticelist .noticeitem a>div {
    display: table-cell;
    padding: 10px 0;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: left;
    font-size: 10px;
}

/* ------ 여기까지 ----- */

/* 페이지네이션 */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pagination nav ul li {
    margin: 10px 0 10px 0;
}

.pagination nav ul li button {
    min-width: 30px;
    height: 30px;
    padding: 0 5px;
    border-radius: 0;
}

/* ------ 여기까지 ----- */