body {
    background-color: #ededed !important;
}

.wrap {
    max-width: 390px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.wrap h3 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    background-color: #fff;
}



.navbar {
    max-width: 390px;
    width: 100%;
    background-color: #fff;
    padding-bottom: 10px;
}


.navbar .menu_list {
    display: flex;
    list-style: none;

}

.navbar .menu_list .menu_items {
    padding: 10px;
}

.navname {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    margin-right: 10px;
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    background: none !important;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}